@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    background-color: #071026;
    background-image: url(https://www.iplt20.com/assets/images/teams-tata-logo-bg.svg);
    background-size: cover;
    
}
body::-webkit-scrollbar{
    width: 0.35rem;
}

body::-webkit-scrollbar-track{
    background: #b2b2da;
}
body::-webkit-scrollbar-thumb{
    background:#6649b8;
}
.IPL {
    display: flex;
    flex-direction: column; /* Display children in a column */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

#ipllogo {
    height: 100px;
    margin-top: 20px;
}


.grid-matrix {
    
    display: flex  !important;
    /* justify-content: center;
    align-items: center; */
}

.card > img {
    height: 240px !important;
    width: 200px !important;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    justify-content: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 330px  !important;
    width: 290px;
    border-radius: 20% !important;
    transition: background-color 0.5s ease;
    margin: 20px 20px 20px 20px;
}


.RCB {
    background-color: brown  !important;
}
.RCB:hover {
    background-color: rgb(155, 91, 91) !important;    
}

.CSK {
    background-color: #fcf052  !important;
}
.CSK:hover {
    background-color: #ddcf11 !important;
}

.SRH{
    background-color: #eb5325 !important;
}
.SRH:hover {
    background-color: #c06e49 !important;
}

.MI {
    background-color: #4a75e4 !important;
}
.MI:hover {
    background-color: rgb(42, 101, 189) !important;
}

.LSG {
    background-color: beige !important;
}
.LSG:hover {
    background-color: rgb(157, 187, 231) !important;
}


.RR {
    background-color: pink !important;
}
.RR:hover {
    background-color: #d146c6 !important;
}

.KKR {
    background-color: rgb(48, 2, 92) !important;
}
.KKR:hover {
    background-color: #39147c !important;
}

.GT {
    background-color: #5ecff1 !important;
}
.GT:hover{
    background-color: #228de4 !important;
}

.PBKS {
    background-color: #eb2727 !important;
    left: 105%;
}
.PBKS:hover{
    background-color: #b64343 !important;
    
}

.DC{
    background-color: #3700ff !important;
    left: 105%;
}
.DC:hover{
    background-color: #5d86f0 !important;
}
